@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead">Welcome to Trash Collector. Manage your pickups, billing and more!</p>
    <p > @Html.ActionLink("Learn more", "About", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Customers</h2>
        <p>
            Click here to register as a brand new customer. 
        </p>
        <p>  @Html.ActionLink("Create Account", "Register", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Existing Customers</h2>
        <p>Sign in now to update your profile, change your pick up or pay your bill!</p>
        <p > @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-default" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Schedule a pick up!</h2>
        <p>Need to schedule an extra pickup? Click here to schedule a one time special pickup!</p>
        <p> @Html.ActionLink("Schedule", "Login", "Account", null, new { @class="btn btn-default" })</p>
    </div>
</div>